<%- include('partials/header.ejs') %>

  <div class="content">
    <h1>Welcome to <strong class="strong">BlogIt Create</strong></h1>
    <p>Create your Blog Below.</p>
        <form action="/create" method="post">
            <input type="text" class="create" name="create" placeholder="Enter blog title" required>
            <textarea type="me" class="create" name="blogCreate" placeholder="Enter blog" required></textarea>
            <input type="submit" class="create blogSubmit new" value="Create Blog">
        </form>  
  </div>

  <%- include('partials/footer.ejs') %>