<%- include('partials/header.ejs') %>

<div class="content">
    <h1>Welcome to <strong class="strong">BlogIt</strong></h1>
    <h6>Your Blogs where you want them and how you want them</h6>
  <% if (locals.names && locals.messages) { %>
   <br>
<% for( var i = 0; i < names.length; i++ ) { %>
    <h4><%= names[i] %></h4>
    <hr />
    <p><%= messages[i] %></p>
<% } %>
<% } %>
</div>

<%- include('partials/footer.ejs') %>
