<%- include('partials/header.ejs') %>

<div class="content">
  <h1>Welcome to <strong class="strong">BlogIt Update</strong></h1>
  <% if (locals.found === "true") { %>
    <p>Blog Updated Successfully</p>
    <% } else if(locals.found === "false") { %>
     <p>BLogger Not Found!!!</p>
   <% } else { %>
         <p>You can Update your blog Below.</p>
   <% } %>
  <form action="/update" method="post">
    <input
      type="text"
      class="create"
      name="new"
      placeholder="Enter blog title to Update"
      required
    />
    <input
      type="text"
      class="create"
      name="newUpdate"
      placeholder="Enter New blog title"
      required
    />
    <textarea
      type="me"
      class="create"
      name="blogCreate"
      placeholder="Enter blog"
      required
    ></textarea>
    <input type="submit" class="create blogSubmit update" value="Update Blog" />
  </form>
</div>

<%- include('partials/footer.ejs') %>
