

</main>

<footer class="footer">
    <div class="container text-center">
      <p>
        <a href="https://twitter.com/Andersonroy1234"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.linkedin.com/in/djeutio-anderson-roy-958b0b234/"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="mailto:djeutio1234@gmail.com"
          ><i class="far fa-envelope"></i
        ></a>
        <a href="https://github.com/AndyRoy04"
          ><i class="fab fa-github"></i
        ></a>
      </p>        
    </div>
    <p>Made by Andy </p>
    <p>Copyright © authorised</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>